{% extends 'news/base.html' %}

{% block content %}
    <form method="POST" action="{% url 'fetch_news' %}">
        {% csrf_token %}
        <label for="source">Selecione a Fonte:</label>
        <select name="source" id="source" aria-labelledby="source">
            <option value="hltv">HLTV</option>
            <option value="dust2">Dust2</option>
        </select>
        <button type="submit">Capturar Notícias</button>
    </form>

    <a href="{% url 'select_clips' %}" class="button">Buscar Clipes de CS2</a>
    <a href="{% url 'list_game_ids' %}" class="button">Ver IDs de Jogos Salvos</a>
    <a href="{% url 'search_game_ids' %}" class="button">Buscar IDs de Jogos</a>
    <a href="{% url 'settings' %}" class="button">Configurações</a>

    {% if user.is_superuser %}
        <a href="{% url 'register' %}" class="button">Cadastrar Novo Usuário</a>
    {% endif %}
{% endblock %}
